<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "user">
	<insert id = "insert" parameterType = "userDto">
		insert into users
		(id , pwd , email , regdate)
		values (#{id} , #{pwd} , #{email} , SYSDATE)
	</insert>
	<select id = "getData" resultType = "userDto" parameterType = "string">
		select id , pwd , email , profile , regdate
		from users
		where id = #{id}
	</select>
	<update id = "updatePwd" parameterType = "userDto">
		update users
		set pwd = #{newPwd}
		where id = #{id}
	</update>
	<update id = "update" parameterType = "userDto">
		update users
		set email = #{email} , profile = #{profile}
		where id = #{id}
	</update>
	<delete id = "delete" parameterType = "string">
		delete from users
		where id = #{id}
	</delete>
</mapper>